:root {
    --dark-color: #1c92d2;
    --light-color: rgb(204, 204, 221);
    --alt-color: rgb(219, 179, 179);
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

h2 {
    color:rgb(37, 37, 37);
    font-size: 4.5em;
    text-shadow: 2px 2px rgb(194, 186, 186);
}

h4 {
    color: darkblue;
    font-size: 1.5em;
}

.card {
    border: 2px solid black;
    text-align: center;
    width: 400px;
    margin: 0 auto;
}

nav {
    position: relative;
    top: -10px;
    background-color: rgb(209, 240, 240);
    padding: 5px;
    text-align: center;
}

nav a {
    padding: 0;
    text-decoration: none;
    color: rgb(110, 110, 172);
    font-weight: bold;
    font-size: 2em;
}


nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

nav a {
    margin: 2em;
}

nav a:hover {
    color:lightcyan;
}

.container {
    background-color: antiquewhite;
    width: 99vw;
    margin: 0 auto;
    background: #1c92d2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f2fcfe, var(--dark-color));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f2fcfe, var(--dark-color)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.about-text {
    line-height: 2em;
    width: 60%;
}

.hero-text {
    position: absolute;
    top: 35vh;
    left: 25vh;
    max-width: 80vw;
}

.hero > img {
    width: 100%;
    filter: grayscale(100%);
    filter:blur(4px);
    filter:opacity(30%);
}

#background, #social {
    display: flex;
    justify-content: space-around;
    background-color: var(--light-color);
    width: 90vw;
    margin: 2em auto;
    filter:drop-shadow(8px 8px 10px rgb(68, 68, 68));
}

#background > img {
    margin-top: 2em;
    border: 2px solid black;
    width: 200px;
    height: 300px;
    margin: 2em;
    position: relative;
    top: 200px;
    left: 100px;
}

.media-icon>img {
    margin: 2em;
}


#repositories {
    display: flex;
    justify-content: space-around;
    width: 90vw;
    margin: 2em auto;
}

a {
    text-decoration: none;
    color: darkblue;
}


.repo-description h3:hover {
    color: rgb(94, 91, 91);
}

.repository-text{
    line-height: 1.5em;
}

.about-text {
    width: 60vw;
    padding: 2em;
    margin: 3em;
}

.repository-images img {
    filter:drop-shadow(8px 8px 10px rgb(68, 68, 68));   
    width: 50%;
    height: 25%;
    position: relative;
    right: -150px;
    top: 200px;
    margin: 1em;
}

.repo-description {
    margin-bottom: 10em;
}

.social-text {
    text-align: center;
}

.social > img {
    width: 300px;
    height: 200px;
    margin: 3em;
}

.quoteContainer {
    position: relative;
    left: -300px;
    width: 50vw;
    text-align: center;
    margin: 2em;
    line-height: 1.5em;
    background-color: var(--alt-color);
    padding: 5px;
    border-left: 4px solid darkgrey;
}


#small {
    font-size: 12px;
}

#small>a {
    text-decoration: none;
    color: white;
}

footer {
    background-color: rgb(37, 37, 37);
    color: white;
    padding: 10px;
    text-align: center;
}

footer > a {
    text-decoration: none;
    color: white;
}