:root {
    --dark-color: hsl(201, 76%, 47%);
    --light-color: rgb(204, 204, 221);
    --alt-color: rgb(219, 179, 179);
}

html {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    min-width: 910px;
    background: #1c92d2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f2fcfe, var(--dark-color));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f2fcfe, var(--dark-color)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

section {
    display: block;
}


.spacer {
    height: 100px;
    background: #1c92d2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f2fcfe, var(--dark-color));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f2fcfe, var(--dark-color)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* hamburger styles */
#hamnav {
    width: 100%;
    background: #000;
    margin-top: 0;
    position:sticky;
    z-index: 10;
    top: 0;
  }
  
  #hamitems { 
      display: flex; 
      max-height: 100px;
    }
  #hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  #hamitems a:hover {
       background: #401408; 
        height: 100%;
    }

    .media-icon > a > img {
        margin: 2em;
    }

  #hamnav label, #hamburger { display: none; }

@media screen and (max-width: 970px){    
.hero-text {
    font-size: 1em;
   line-height: .5em;
    max-width: 95vw;
}

#hamnav {
    text-align: left;
}

 #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }

  #hamnav label {
      position: relative;
      left: 10px;
    display: inline-block;
    background-color: black;
    color: white;
    background: #a02620;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  #hamitems { display: none; }

  #hamnav input:checked ~ #hamitems { display: block; }

  h2 {
    color:rgb(37, 37, 37);
    font-size: 2em;
    text-shadow: 2px 2px rgb(194, 186, 186);
    line-height: 1em;
  }

    h4 {
        color: darkblue;
        font-size: 1.5em;
        line-height: 1.5em;
    }

    .container-hero {
        margin: 0;
        padding: 0;
    }

    .hero-text {
        width: 90vw;
        position: relative;
        top: -300px;
    }

    #background, #social {
        display: block;
        width: 100vw;
    }

} /* end of media query */

h2 {
    color:rgb(37, 37, 37);
    font-size: 3em;
    text-shadow: 2px 2px rgb(194, 186, 186);
    line-height: 1em;
    margin: 0;
}

h4 {
    color: darkblue;
    font-size: 2em;
    line-height: 1em;
}



.card {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

nav {
    position: relative;
    top: 0;
    background-color: rgb(209, 240, 240);
    padding: 5px;
    text-align: center;
}

nav a {
    padding: 0;
    text-decoration: none;
    color: rgb(110, 110, 172);
    font-weight: bold;
    font-size: 2em;
}


nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

nav a {
    margin: 0;
}

nav a:hover {
    color:lightcyan;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;

}

.about-text {
    font-size: 1.25em;
    line-height: 1.5em;
    width: 80%;
}

.hero-text {
    top: 35vh;
    left: 25vh;
    max-width: 80vw;
    margin-top: -700px;
    margin-left: 200px;
}

.hero > img {
    width: 100%;
    filter: grayscale(100%);
    filter:blur(4px);
    filter:opacity(30%);
}

#background, #social {
    display: flex;
    justify-content: space-around;
    background-color: var(--light-color);
    width: 95vw;
    margin: 1em auto;
    filter:drop-shadow(8px 8px 10px rgb(68, 68, 68));
}

.image-container {
    display: flex;
    align-items: center;
    margin-left: 1em;
}

#background > img {}
    border: 2px solid black;
    width: 200px;
    height: auto;
    margin: 1em;
    position: relative;
    top: 200px;
    left: 100px;
}




#repositories {
    width: 60%;
    margin: 2em auto;
}

a {
    text-decoration: none;
    color: darkblue;
}



.repo-description h3:hover {
    color: rgb(94, 91, 91);
    margin: 1em;
}

.repo-image {
padding: 2em;
}

.repo-description{
    line-height: 1.5em;
     font-size: 1.5em;
     padding: 2em;
}

.about-text {
    width: 60vw;
    padding: 2em;
    margin: 1em;
}

.virtual-pet, 
.choose-class,
.github-page {
    display: flex;
    justify-content: space-between;
}

.repo-image > img {
    width: 300px;
    margin: 3em;
}

.social-text {
    margin: 5em auto;
    display: relative;
}

.card img {
    width: 400px;
    padding: 3em;
    border: none;
}

.quoteContainer {
    width: 75vw;
    text-align: center;
    margin: 2em auto;
    line-height: 1.5em;
    background-color: var(--alt-color);
    padding: 5px;
    border-left: 8px solid darkgrey;
}

.quoteContainer p {
    font-size: 1.5em;
}

blockquote {
    font-size: 1.5em;
    line-height: 1.5em;;
}


#small {
    font-size: 12px;
}

#small>a {
    text-decoration: none;
    color: white;
}

footer {
    background-color: rgb(37, 37, 37);
    color: white;
    padding: 10px;
    text-align: center;
}

footer > a {
    text-decoration: none;
    color: white;
}